# Environment variables and secrets
.env
*.env

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE / OS settings
.DS_Store
.vscode/
.idea/
.pyre_configuration
*.log
